.postImage{
  cursor:pointer;
  width: 100%; 
  height: 100%;
  border-style: solid; 
  border-color: #000000 #000000; 
  border-width: medium;
}

.custom-file-upload {
  display:none;
}

.mapBottom {
  width:100%;
  height:100%;
  background-color: #E21A2B;
  color: white;
	font-family: oswald;
	font-size: 20px;
}

#map {
  height: 90%;
}