.column-left{ 
  float: left; 
  width: 20%; 
  color:white; 
  text-align:center;
  padding-top:1.5%;  
}
.column-right{ 
  float: right; 
  width: 20%; 
  color:white; 
  text-align:center;
  padding-left:4%;
  padding-top:1.5%; 
}

.column-center{ 
  margin-top:-65px;
  width: 100%; 
  color:white;
  font-size:50px;
}

.icon{
  color:white; font-size:100px;
  vertical-align: middle;  
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.mapBottom {
  width:100%;
  height:100%;
  background-color: #E21A2B;
  color: white;
	font-family: oswald;
	font-size: 20px;
}

#map {
  height: 92%;
}
