<!doctype html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Oswald:200,500" rel="stylesheet">
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<link rel="icon" href="favicon.png">      
<script src="js/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js'></script>
<script src='https://cdn.firebase.com/js/client/2.2.4/firebase.js'></script>
<script src="js/angularfire.min.js"></script>
<script  src="js/index.js"></script>

<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet prefetch' href='https://fezvrasta.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.css'>
<meta charset="utf-8">
<title>Montreal Explained</title>
<link href="style.css" rel="stylesheet" type="text/css">
<script src="js/globals.js"></script>
</head>

<body>
	<div class="page">
		<div class="map"><a href="map.html"><img src="images/backw.png" alt="back" width="auto" height="50"></a></div>
		<div class="settings"><img src="images/settingsw.png" alt="settings" width="auto" height="60"></div>

		<script>
			var app = angular.module('postDetails', ['firebase', 'angular.filter']);
			app.controller('detailsController', function($scope, $firebaseArray) {
			$scope.post = "";

			var url_string = window.location.href;
			var url = new URL(url_string);
			var c = url.searchParams.get("postId");

			$scope.ref2 =  new Firebase("https://mtlexplained.firebaseio.com/").child('/posts').child(c);

			$scope.ref2.once('value', function(snapshot) {
				if(snapshot.val() === null ) {
					/* does not exist */
				} else {
					$scope.post = snapshot.val();
					$scope.commentsList = $firebaseArray(snapshot.ref().child("comments"));
					$scope.$apply();

					// setting all the poster information!
					document.getElementById("postId").src=$scope.post.base64;
					document.getElementById("profilePic").src=$scope.post.profilePic;
					document.getElementById("locationName").innerHTML=$scope.post.locName;
					document.getElementById("postComment").innerHTML=$scope.post.description;
					document.getElementById("postRole").innerHTML=" | " + $scope.post.role;
					document.getElementById("postUser").innerHTML=$scope.post.username;
				}
			});

			$scope.postcomment = function() {
				$scope.ref2.once('value', function(snapshot) {
					if(snapshot.val() === null ) {
						// it doesn't exist, do nothing!!
					} else {
						userText = document.getElementById("commentArea").value;
						$scope.post = snapshot.val();
						snapshot.ref().child("comments").push({
							"username" : window.localStorage.getItem('userName'),
								"role" : window.localStorage.getItem('userRole'),
								"rating" : 0,
								"cDescription": userText
						});
					}
				});
			}

			$scope.upvote = function(commentid) {
				$scope.commentsList.forEach(function(childSnapshot) {
					if (childSnapshot.$id == commentid) {
						var newRating = childSnapshot.rating++;
						$scope.ref2.child("comments").child(commentid).child("rating").set(newRating);
					}
				});
			}	
			
			$scope.downvote = function(commentid) {
				$scope.commentsList.forEach(function(childSnapshot) {
					if (childSnapshot.$id == commentid) {
						var newRating = childSnapshot.rating--;
						$scope.ref2.child("comments").child(commentid).child("rating").set(newRating);
					}
				});
			}	
		});
		</script>

	<div class="postImg"><img id="postId" width="100%" height="100%"></div>

	<div class="commentBar">
		<div class="commentPP"><img id="profilePic" src="images/blank.png" alt="Profile Photo" width="100%" height="100%"></div>
		<div class="commentPad"></div>
		<div id="postComment" class="commentDesc"></div>
		<div id="postUser" class="commentUser"></div>
		<div id="postRole" class="commentInfo"></div>
		<div class="postloc"><img src="images/postloc.png" alt="map" width="auto" height="auto" style="padding-bottom:15px;">
			<div id="locationName" class="commentLocation"></div>
		</div>
	</div>

	<div ng-app='postDetails'>
	<div ng-controller="detailsController">
		<div ng-repeat="comment in commentsList | toArray | orderBy: '-rating'">
			<div class="commenterBox">
					<div class="ratingBox">
						<div class="rating" id="ratingnumber">{{comment.rating}}</div>
							<div class="triangles">
								<div class="triangle-up" ng-click="upvote(comment.$id)"></div>
								<div class="triangle-down" ng-click="downvote(comment.$id)"></div>
							</div>
						</div>

					<div class="commentDesc">{{comment.cDescription}}</div>
					<div class="commentUser">{{comment.username}}</div>
					<div class="commentInfoV"> | {{comment.role}}</div>
					<div class="commentDesc"><div class="lineBreak"></div></div>
			</div>
		</div>


	<div class="buffer"></div>

	<div class="commentButton">
		<a ng-click="postcomment()" style="padding-left:25px;">POST</a>
		<div class="inputCommentBox">
			<textarea id="commentArea" rows="4" cols="50" name="comment" form="usrform" maxlength="200" placeholder="answer the question"
			onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your text'" ></textarea>
		</div>
	</div>
	</div>
	</div>
</div>

</body>
</html>
